.tierBtn {
  background-color: #fff;
  color: inherit;
  margin-bottom: 10px;
  border: 1px solid #dcdcdc;
  box-shadow: 0 2px 2px #0000000a;
  cursor: pointer;
  position: relative;
  padding: 4px 12px;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  display: flex;
  align-items: center;
  min-height: 60px;
}
.tierBtn:hover {
  background-color: #f8f8f8;
}
.tierBtn span {
  float: left;
  margin: 0 10px 0 0;
  width: 26px;
  height: 26px;
}
.tierBtn span:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%238d8d8f' fill-rule='nonzero' d='M11.78 5.53a.75.75 0 0 0-1.06-1.06l-5 5a.75.75 0 0 0 0 1.06l5 5a.75.75 0 0 0 1.06-1.06L7.31 10l4.47-4.47z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
  height: 23px;
  width: 23px;
  transform: rotate(180deg);
  display: block;
  content: '';
  position: absolute;
  right: 10px;
  top: calc(50% - 12px);
}
.tierBtn:hover span:after {
  opacity: 1;
}
.tierBtn p {
  font-size: 14px;
  color: #848c94;
}

.noLink span:after {
  display: none;
}
.noLink:hover {
  cursor: default;
  background-color: inherit;
}
